.App{
  background-color: #212336;
  height: 80px;
  width: 100%;
  display: flex;
}

.Logo{
  width: 40%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  
}

.Navigation{
  width: 50%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;

}
.Nav{
  color: white;
  
}

.Content{
  /* background-color: rgba(0, 255, 255, 0.518); */
  height: 560px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.Major{
  height: 140px;
  width: 50%;
  /* background-color: blueviolet; */
  color: white;
  font-size: 300%;
  font-weight: lighter;
  margin: 0;
}


.Minor{
  margin: 0 0  30px 0;
  height: 50px;
  width: 50%;
  font-size: 110%;
  color: rgba(255, 255, 255, 0.309);

}

button{
  height: 40px;
  width: 140px;
  font-size: 100%;
  font-weight: bold;
  border: none;
  border-radius: 50px;
  margin-right: 530px;
  background-color: rgba(255, 255, 255, 0.868);
}
button:hover{
background-color: rgba(0, 0, 0, 0.764);
color: white;
}